body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("../images/food.jpg");
  color: #333;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}
nav{
    background-color: wheat; 
}

.btn.secondary {
  margin-top: 5px;
  background-color: lightgreen;
  color: #1e1e2f;
  border: 2px solid #1e1e2f;
  margin-left: 5px;
}
.btn {
  font-size: var(--font-l);
  padding: 2px 2px;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  text-decoration: none;
  background-color: var(--button-bg);
  font-weight: 60;
  cursor: pointer;
  font-family: inherit;
  margin-right: 10px;
}

#autocomplete-results {
  font-size: 14px;
  color: black; 
  background-color: white;
  width: 45vh;
}

.form-box {
  width: 45vh;
  height: 45vh;
  background-color: wheat;
  border-radius: 12px;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 30px;
}